[core]
	editor = code
        excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	pu = pull
	sa = stash apply
	s = stash
[diff]
 	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
 	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX

